<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/CSSformulario.css">
    <title>Formulario de Nivel</title>
</head>
<body>
    <div class="fondo">
        <form  class="formularioHotel">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" placeholder="nombre" required>
                <br>
            </div>
            <button class="boton" type="submit">Registrar</button>
        </form>
    </div>
    
</body>
</html>