<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/CSSPrueba.css">
    <title>Document</title>
    
</head>

<body>

    <ul class="acorh">
        <li><a href="#">Reservas</a>
          <ul>
            <li><a href="URL11">Check In</a></li>
            <li><a href="URL12">Check Out</a></li>
          </ul>
        </li>
        <li><a href="#">Empleados</a>
          <ul>
            <li><a href="URL21">Lista de Empleados</a></li>
            <li><a href="URL22">Agregar / Editar / Eliminar</a></li>
          </ul>
        </li>
        <li><a href="#">Habitaciones</a>
          <ul>
            <li><a href="URL31">Disponibilidad</a></li>
            <li><a href="URL32">Categoría</a></li>
          </ul>
        </li>
        <li><a href="#">Mensajes</a></li>

        <li><a href="#">Configuración</a></li>
          <li><a href="#">Clientes</a></li>
          <li><a href="#">Ventas</a></li>
          <li><a href="#">Egresos</a></li>
      </ul>

</body>

</html>