<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/form_huesped.css">
    <title>Formulario Huésped</title>


</head>
<body>
    <div class="fondo">
        <form class="formularioHotel">
            <div>
                <label for="reserva">Reserva</label>
                <input type="text" placeholder="id_reserva" required >
            </div>
            <br>
            <div>
                <label for="persona">Persona</label>
                <input type="text" placeholder="nombre_persona" required>
            </div>
            <br>
            <div>
                <label for="genero">Género</label>
                <select name="gereno"></select>
            </div>
            <br>
            <button type="submit">Registrar</button>

        </form>



    </div>
    
</body>
</html>