<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/form_huesped.css">
    <title>Formulario de Pago</title>
</head>
<body>
    <div class="fondo">
        <form class="formularioHotel">
            <div>
                <label for="comprobnateImg">Comprobante</label>
                <input type="text" placeholder="comprobante_de_pago" required>
            </div>
            <br>
            <div>
                <label for="fechaEmision">Fecha de Emisión</label>
                <input type="date" placeholder="fecha_emisiòn" required>
            </div>
            <br>
            <div>
                <label for="fechaPago">Fecha de Pago</label>
                <input type="date" placeholder="fecha_pago" required>
            </div>
            <br>
            <div>
                <label for="pagoTotal">Pago Total</label>
                <input type="number" placeholder="pago_total" required>
            </div>
            <br>
            <div>
                <label for="pagoParcil">Pago Parcial</label>
                <input type="number" placeholder="pago_parcial" required>
            </div>
            <br>
            <div>
                <label for="tipoFactura">Tipo de Factura</label>
                <input type="text" placeholder="tipo_factura" required>
            </div>
            <br>
            <div>
                <label for="resreva">Reserva</label>
                <input type="text" placeholder="id_reserva" required>
            </div>
            <br>
            <button class="boton" type="submit">Registar Pago</button>
        </form>



    </div>
    
</body>
</html>