<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="d-flex" id="navBar">
        <nav class="nav justify-content-end">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}"><img src="/img/logo.png" alt="logo"/>HotelEgg</a>
                <a class="navbar-brand" id="letras" href="#iniciosesion" role="button" data-bs-toggle="modal"
                   data-bs-target="#exampleModal1" th:href="@{/login}">Iniciar sesión</a>
                <a class="navbar-brand" th:href="@{/logout}">Cerrar sesión</a>
                <a class="navbar-brand" th:href="@{/Registro}">Registrarse</a>
            </div>
        </nav>
    </div>

    <!--Modales-->
    <!-- Modal de iniciar sesion-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="iniciosesion">Inicio de sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label for="username">Nombre de usuario:</label>
                            <br/>
                            <input id="username" type="text" name="username" placeholder="Nombre" required/>
                        </div>
                        <div>
                            <label for="password">Contraseña: </label>
                            <br/>
                            <input id="password" type="password" name="password" placeholder="Contraseña" required/>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary botonpequeno">Iniciar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>

</body>
</html>