<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Formulario Cliente</title>
</head>
<body>
    
  <div >
    <div >
      <h1>Formulario de Cliente</h1>
    </div>

    <form  method="post" >

        <div>
            <label for="persona">Persona: </label>
            <select  >
              <option    required></option>
            </select>
        </div>

        <div>
          <label for="Reserva">Reserva: </label>
          <select  >
            <option    required></option>
          </select>
        </div>

        <div >
          <input type="submit"  value="Registrar" />
        </div>
      </form>

</body>
</html>