<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de categoria</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Formulario de categoria</h1>
      </div>

      <form>
        <div>
          <label for="nombre">Nombre: </label>
          <input type="text" placeholder="Nombre" />
        </div>
        <button>Guardar</button>
      </form>
    </div>
  </body>
</html>
