<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Formulario de Persona</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/IndexNavbar.css">
    <link rel="stylesheet" href="/css/IndexPie.css">
    <link rel="stylesheet" href="/css/MenuAdmid.css"/>
    <link rel="stylesheet" href="/css/FormularioPersona.css">
</head>

<body>
<!--Navbar del usuario-->
<header th:replace="layout/nav-var :: header"></header>
<!--Menu para el administrador-->
<div th:replace="layout/menu-admin :: menu-admin"></div>
<!--Botones-->
<div class="posicionboton">
    <button type="submit" class="btn btn-dark boton2">
        Listado personas
    </button>
    <button type="submit" class="btn btn-dark boton2">
        Volver
    </button>
</div>
</div>

<div class="form">
    <header>
        <h1>Registro de Cliente</h1>
    </header>
    <form method="post" th:action="@{/cliente/formCliente}" th:object="${cliente}" class="formularioHotel">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{persona.id}">
        <div>
            <label for="nombre">Nombre: </label>
            <input id="nombre" type="text" th:field="*{persona.nombre}" required/>
        </div>

        <div>
            <label for="apellido">Apellido: </label>
            <input id="apellido" type="text" th:field="*{persona.apellido}" required/>
        </div>

        <div>
            <label for="dni">Dni: </label>
            <input id="dni" type="text" th:field="*{persona.dni}" required/>
        </div>

        <div>
            <label for="direccion">Dirección: </label>
            <input id="direccion" type="text" th:field="*{persona.direccion}"/>
        </div>

        <div>
            <label for="tel">Teléfono: </label>
            <input id="tel" type="text" th:field="*{persona.tel}" required/>
        </div>

        <div>
            <label for="mail">Correo electrónico: </label>
            <input id="mail" type="text" th:field="*{persona.mail}" required/>
        </div>

        <div>
            <label for="fechaNacimiento">Fecha de nacimiento: </label>
            <input id="fechaNacimiento" type="date" placeholder="dd-mm-yyyy"
                   th:field="*{persona.fechaNacimiento}" required/>
        </div>

        <div>
            <div>
                <!--                <select class="form-select" id="select">-->
                <!--                    <option selected>Seleccion la opcion</option>-->
                <!--                    <option value="1">Huesped</option>-->
                <!--                    <option value="2">Empleado</option>-->
                <!--                </select>-->
                <div>
                    <button type="submit" class="btn btn-info" id="boton">Registrar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>