<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de usuario</title>
  </head>
  <body>

    <div >
      <div >
        <h1>Formulario de usuario</h1>
      </div>

      <form >
        <div>
          <label for="username">Usuario:</label>
          <br />
          <input type="text" placeholder="Nombre de usuario" required />
        </div>

        <div>
          <label for="password">Contraseña: </label>
          <br />
          <input type="password" placeholder="Contraseña" required />
        </div>

        <div>
          <label for="password2">Reingrese la contraseña: </label>
          <br />
          <input type="password" placeholder="Reingrese la contraseña" required />
        </div>

        <button type="submit">Registrar</button>
      </form>
    </div>
  </body>
</html>
