.imagen {
    height: 100%;
    width: 100%;
   }


.fondo{
    background-color: #232327b6;
    width: 450px;
    padding: 1.5%;
    border-color: #232327a8;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    
}

.fondo2{
    background-color: #d1f2f8;
    align-items: center;
    padding: 20px;
}

header{
    width: 100%;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(6,179, 231);
}

header span{
    font-size: 100px;
    display: block;
    padding: 8px;
}

.formularioHotel{
    padding: .8rme;
    overflow: hidden;
    color: white;
}

.formularioHotel label, .formularioHotel input,.formularioHotel textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    background-color: transparent;
}

.formularioHotel label{
    font-weight: 700;
}

.formularioHotel input, .formularioHotel textarea{
    border: none;
    border-bottom: 2px solid  rgb(6,179, 231);
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
}


::placeholder, input{
    color: #CAF0F8;
}

.formularioHotel label{
    color: rgb(6,179, 231);
}

.boton{
    padding: 10px;
    border: none;   
    background-color: #03045E;
    color: #CAF0F8;
    font-size: 20px;
    cursor: pointer;
}

.botonpequeno{
    padding: 4.5px;
    border: none;   
    background-color: #03045E;
    color: #CAF0F8;
    font-size: 17px;
    cursor: pointer;
}

.botonposicion{
    width: 50%;
}

.modal-content {
    background: #2d2d2d;
    color: #fff;
}

/* Comentarios*/
.opinion{
    background-color: #97d3dd;
    
}

textarea{
    resize: none;
    background-color: #FFF8F3;
    background-image: url("imagenes/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50px;
    border: 2.1px solid #2c68b6;
}

textarea::placeholder{
    color:#11468F;
}

.comentario{
    font-size: 70px;
    background-position: 50%;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#03045E;
}

.posicionboton{
    margin-left: 10%;
    margin-bottom: 1%;
}
/*
.stilotitulo {
    
    font-size: 70px;
 
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    

      color: #202020;
      background-color: #2d2d2d;
      letter-spacing: .1em;
      text-shadow: 
        -1px -1px 1px #111, 
        2px 2px 1px #363636;
    
  }*/

/*--------------------------*/