
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}

body{
    background-image: url(imagenes/Hotel2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 15px;
}

.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: rgba(15, 50, 72, 0.3);
    border-radius: 5px;
}

.titulo{
    color: #1d4169;
    margin-bottom: 20px;
    color: #03045E;
}

.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid #d9e4ea;
    transition: all .5s ease;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid #03045E;
    color: #03045E;
}
#modal{
    background-color: #03045E;
   border-color: #03045E;
   color: #CAF0F8;
}
.formularioHotel{
    color: #03045E;
}
