#conteiner-mt-5{
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

body{
    background-image: url(../img/Hotel2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 15px;
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}