.imagen {
    height: 100%;
    width: 100%;
   }


.fondo{
    background-color: #232327b6;
    width: 450px;
    padding: 1.5%;
    border-color: #232327a8;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    border-radius: 5px;    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.fondo2{
    background-color: #d1f2f8;
    align-items: center;
    padding: 20px;
}

header{
    width: 100%;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(6,179, 231);
}

header span{
    font-size: 100px;
    display: block;
    padding: 8px;
}

.formularioHotel{
    padding: .8rme;
    overflow: hidden;
    color: white;
}

.formularioHotel label, .formularioHotel input,.formularioHotel textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    background-color: transparent;
}

.formularioHotel label{
    font-weight: 700;
}

.formularioHotel input, .formularioHotel textarea{
    border: none;
    border-bottom: 2px solid  rgb(6,179, 231);
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
}


::placeholder, input{
    color: #CAF0F8;
}

.formularioHotel label{
    color: rgb(6,179, 231);
}

.boton{
    padding: 10px;
    border: none;   
    background-color: #03045E;
    color: #CAF0F8;
    font-size: 20px;
    cursor: pointer;
}

.botonpequeno{
    padding: 4.5px;
    border: none;   
    background-color: #03045E;
    color: #CAF0F8;
    font-size: 17px;
    cursor: pointer;
}

.botonposicion{
    width: 50%;
}

.modal-content {
    background: #fff;
    color: rgb(0, 0, 0);
}

/* Comentarios*/
.opinion{
    background-color: #97d3dd;
}

textarea{
    resize: none;
    background-color: #FFF8F3;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 349px;
    margin-top: 10px;
    border: 2.1px solid #2c68b6;
}

textarea::placeholder{
    color:#11468F;
}

.comentario{
    font-size: 70px;
    background-position: 50%;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#020327;
}

.posicionboton{
    margin-left: 700px;
    margin-bottom: 1%;
}

.posicion{
    display: inline-block;
}

.ubicacion{
    position:static;
    margin-left: 60px;
    position: absolute;
    margin-left: 60px;
    margin-top: 25px;
}

table {
    margin: 0.5em auto;
    width: 70%;
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.estiloComentario{
    text-align: left;
    border-bottom: 20px solid #97d3dd;
    background-color: #fff; 
    

}

.estiloComentarioUsuario{
    text-align: center;
    font-weight: bolder;
    font-size: 110%;
}

.puntaje {
    background-color: tomato;
    color: white;
    text-align: center;
    border-right: 20px solid #97d3dd;
    border-left: 20px solid #97d3dd;
    border-bottom: 20px solid #97d3dd;
}

.estiloComentario:hover {
    background-color: #aaa;
    cursor: pointer;
}

.clasificacion{
  width: 250px;
  padding: 0;
}

.iconoestrella{
    width: 23px;
}


/*
.stilotitulo {
    
    font-size: 70px;
 
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    

      color: #202020;
      background-color: #2d2d2d;
      letter-spacing: .1em;
      text-shadow: 
        -1px -1px 1px #111, 
        2px 2px 1px #363636;
    
  }*/

/*--------------------------*/

/*Etapa sobre nosotros: Informacion del hotel*/

.sobreNosotrosTitulo{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fff;
    font-size: 130%;
    font-weight: bolder;
    background-color: #3E497A;
    margin-bottom: 3%;
}

.sobreNosotrosFormato{
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#020327;
    margin: 1%;
    margin-bottom: 2%;
    font-size: 90%;
}

.sobreNosotrosSubtitulo{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fff;
    font-size: 105%;
    font-weight: bolder;
    background-color: #475280da;
}


/*--------------------------*/

/*Comentario*/



/*--------------------------*/