<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/CssFormularioIngreso.css">
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde fugit perspiciatis nesciunt necessitatibus aut quod
        dolore earum odit doloremque numquam veniam, nihil ipsam, sed, reiciendis dolorem repellat corrupti porro?
        Molestias.</p>
    <div class="fondo">
        <header>Formulario de Empleados</header>
        <form action="" class="formularioHotel">
            <div>
                <label for="input">Nombre del empleado</label>
                <input type="text" required>
            </div>
            <div>
                <label for="input">Apellido del empleado</label>
                <input type="text" required>
            </div>
            <div>
                <label for="select">Seleccione categoria empleado</label>
                <select name="Categoria" id="" required>
                    <option value="opcion1">Cocina</option>
                    <option value="opcion2">Administracion</option>
                    <option value="opcion3">Mantenimiento</option>
                    <option value="opcion4">Limpieza</option>
                    <option value="opcion5">Recepcion</option>
                </select>
            </div>
            <div>
                <label for="select">Coloque si el empleado esta dispobible</label>
                <select name="disponibilidad" id="" required>
                    <option value="opcion1">On</option>
                    <option value="opcion2">Off</option>
                </select>
            </div>
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>

</html>