<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cssHabitaciones.css">
</head>

<body>
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <span>Habitaciones</span>
            <div class="btn-hamburguer"><button></button></div>
            <div class="btn-hamburguer"></div>
            <div class="btn-hamburguer"></div>
            <div class="btn-hamburguer"></div>
        </div>
    </div>

    <div id="menu-items">
        <div class="item">

            <a href="#">
                <div class="icon"></div>
                <div class="icon"></div>
            </a>
        </div>



    </div>
</body>

</html>