<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario de Persona</title>
  <link rel="stylesheet" href="css/CssFormularioIngreso.css">
</head>

<body>

  <div class="fondo">
    <div>
      <h1>Formulario de Persona</h1>
    </div>

    <!--------- Formulario de persona --------->
    <form method="post" class="formularioHotel">
      <div>
        <label for="nombre">Nombre: </label>
        <input type="text" placeholder="Nombre" required />
      </div>

      <div>
        <label for="apellido">Apellido: </label>
        <input type="text" placeholder="Apellido" required />
      </div>

      <div>
        <label for="dni">Dni: </label>
        <input type="text" placeholder="Dni" required />
      </div>

      <div>
        <label for="direccion">Dirección: </label>
        <input type="text" placeholder="Dirección" required />
      </div>

      <div>
        <label for="tel">Teléfono: </label>
        <input type="text" placeholder="telefono" required />
      </div>

      <div>
        <label for="mail">Correo electrónico: </label>
        <input type="text" placeholder="Correo electrónico" required />
      </div>

      <div>
        <label for="fechaNacimiento">Fecha de nacimiento: </label>
        <input type="date" placeholder="dd-mm-yyyy" required />
      </div>

      <div>
        <div>
          
          <div>
            <label for="input">si<input type="checkbox" value="first_checkbox"></label><br>
          </div>
          <label for="input">no</label><input type="checkbox" value="second_checkbox">no</label>
          <div>
            <input type="submit" value="Registrar" />
          </div>
        </div>
      </div>
  </div>
  </form>


</body>

</html>